[user]
	email = lauren@tomasello.me
	name = Lauren
[alias]
	up = "!git remote update -p; git merge --ff-only @{u}"
[push]
	default = simple
[core]
	excludesfile = /Users/lauren/.config/git/.gitignore
[credential]
	helper = osxkeychain
